@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.press-start-2p-regular {
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
}

.comic-neue-bold {
  font-family: "Comic Neue", serif;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: __Rubik_b1bcfb;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/356abdd51b933898-s.woff2) format("woff2");
  unicode-range: u+06??, u+0750-077f, u+0870-088e, u+0890-0891, u+0897-08e1, u+08e3-08ff, u+200c-200e, u+2010-2011, u+204f, u+2e41, u+fb50-fdff, u+fe70-fe74, u+fe76-fefc, u+102e0-102fb, u+10e60-10e7e, u+10ec2-10ec4, u+10efc-10eff, u+1ee00-1ee03, u+1ee05-1ee1f, u+1ee21-1ee22, u+1ee24, u+1ee27, u+1ee29-1ee32, u+1ee34-1ee37, u+1ee39, u+1ee3b, u+1ee42, u+1ee47, u+1ee49, u+1ee4b, u+1ee4d-1ee4f, u+1ee51-1ee52, u+1ee54, u+1ee57, u+1ee59, u+1ee5b, u+1ee5d, u+1ee5f, u+1ee61-1ee62, u+1ee64, u+1ee67-1ee6a, u+1ee6c-1ee72, u+1ee74-1ee77, u+1ee79-1ee7c, u+1ee7e, u+1ee80-1ee89, u+1ee8b-1ee9b, u+1eea1-1eea3, u+1eea5-1eea9, u+1eeab-1eebb, u+1eef0-1eef1
}

@font-face {
  font-family: __Rubik_b1bcfb;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/1a4dd1d7cd3232ea-s.woff2) format("woff2");
  unicode-range: u+0460-052f, u+1c80-1c8a, u+20b4, u+2de0-2dff, u+a640-a69f, u+fe2e-fe2f
}

@font-face {
  font-family: __Rubik_b1bcfb;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/341baa6ce7a16e81-s.woff2) format("woff2");
  unicode-range: u+0301, u+0400-045f, u+0490-0491, u+04b0-04b1, u+2116
}

@font-face {
  font-family: __Rubik_b1bcfb;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/d70c23d6fe66d464-s.woff2) format("woff2");
  unicode-range: u+0307-0308, u+0590-05ff, u+200c-2010, u+20aa, u+25cc, u+fb1d-fb4f
}

@font-face {
  font-family: __Rubik_b1bcfb;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/0596140cb8d9223a-s.woff2) format("woff2");
  unicode-range: u+0100-02ba, u+02bd-02c5, u+02c7-02cc, u+02ce-02d7, u+02dd-02ff, u+0304, u+0308, u+0329, u+1d00-1dbf, u+1e00-1e9f, u+1ef2-1eff, u+2020, u+20a0-20ab, u+20ad-20c0, u+2113, u+2c60-2c7f, u+a720-a7ff
}

@font-face {
  font-family: __Rubik_b1bcfb;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/c22ccc5eb58b83e1-s.p.woff2) format("woff2");
  unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+0304, u+0308, u+0329, u+2000-206f, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd
}

@font-face {
  font-family: __Rubik_b1bcfb;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/356abdd51b933898-s.woff2) format("woff2");
  unicode-range: u+06??, u+0750-077f, u+0870-088e, u+0890-0891, u+0897-08e1, u+08e3-08ff, u+200c-200e, u+2010-2011, u+204f, u+2e41, u+fb50-fdff, u+fe70-fe74, u+fe76-fefc, u+102e0-102fb, u+10e60-10e7e, u+10ec2-10ec4, u+10efc-10eff, u+1ee00-1ee03, u+1ee05-1ee1f, u+1ee21-1ee22, u+1ee24, u+1ee27, u+1ee29-1ee32, u+1ee34-1ee37, u+1ee39, u+1ee3b, u+1ee42, u+1ee47, u+1ee49, u+1ee4b, u+1ee4d-1ee4f, u+1ee51-1ee52, u+1ee54, u+1ee57, u+1ee59, u+1ee5b, u+1ee5d, u+1ee5f, u+1ee61-1ee62, u+1ee64, u+1ee67-1ee6a, u+1ee6c-1ee72, u+1ee74-1ee77, u+1ee79-1ee7c, u+1ee7e, u+1ee80-1ee89, u+1ee8b-1ee9b, u+1eea1-1eea3, u+1eea5-1eea9, u+1eeab-1eebb, u+1eef0-1eef1
}

@font-face {
  font-family: __Rubik_b1bcfb;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/1a4dd1d7cd3232ea-s.woff2) format("woff2");
  unicode-range: u+0460-052f, u+1c80-1c8a, u+20b4, u+2de0-2dff, u+a640-a69f, u+fe2e-fe2f
}

@font-face {
  font-family: __Rubik_b1bcfb;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/341baa6ce7a16e81-s.woff2) format("woff2");
  unicode-range: u+0301, u+0400-045f, u+0490-0491, u+04b0-04b1, u+2116
}

@font-face {
  font-family: __Rubik_b1bcfb;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/d70c23d6fe66d464-s.woff2) format("woff2");
  unicode-range: u+0307-0308, u+0590-05ff, u+200c-2010, u+20aa, u+25cc, u+fb1d-fb4f
}

@font-face {
  font-family: __Rubik_b1bcfb;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/0596140cb8d9223a-s.woff2) format("woff2");
  unicode-range: u+0100-02ba, u+02bd-02c5, u+02c7-02cc, u+02ce-02d7, u+02dd-02ff, u+0304, u+0308, u+0329, u+1d00-1dbf, u+1e00-1e9f, u+1ef2-1eff, u+2020, u+20a0-20ab, u+20ad-20c0, u+2113, u+2c60-2c7f, u+a720-a7ff
}

@font-face {
  font-family: __Rubik_b1bcfb;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/c22ccc5eb58b83e1-s.p.woff2) format("woff2");
  unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+0304, u+0308, u+0329, u+2000-206f, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd
}

@font-face {
  font-family: __Rubik_b1bcfb;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/356abdd51b933898-s.woff2) format("woff2");
  unicode-range: u+06??, u+0750-077f, u+0870-088e, u+0890-0891, u+0897-08e1, u+08e3-08ff, u+200c-200e, u+2010-2011, u+204f, u+2e41, u+fb50-fdff, u+fe70-fe74, u+fe76-fefc, u+102e0-102fb, u+10e60-10e7e, u+10ec2-10ec4, u+10efc-10eff, u+1ee00-1ee03, u+1ee05-1ee1f, u+1ee21-1ee22, u+1ee24, u+1ee27, u+1ee29-1ee32, u+1ee34-1ee37, u+1ee39, u+1ee3b, u+1ee42, u+1ee47, u+1ee49, u+1ee4b, u+1ee4d-1ee4f, u+1ee51-1ee52, u+1ee54, u+1ee57, u+1ee59, u+1ee5b, u+1ee5d, u+1ee5f, u+1ee61-1ee62, u+1ee64, u+1ee67-1ee6a, u+1ee6c-1ee72, u+1ee74-1ee77, u+1ee79-1ee7c, u+1ee7e, u+1ee80-1ee89, u+1ee8b-1ee9b, u+1eea1-1eea3, u+1eea5-1eea9, u+1eeab-1eebb, u+1eef0-1eef1
}

@font-face {
  font-family: __Rubik_b1bcfb;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/1a4dd1d7cd3232ea-s.woff2) format("woff2");
  unicode-range: u+0460-052f, u+1c80-1c8a, u+20b4, u+2de0-2dff, u+a640-a69f, u+fe2e-fe2f
}

@font-face {
  font-family: __Rubik_b1bcfb;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/341baa6ce7a16e81-s.woff2) format("woff2");
  unicode-range: u+0301, u+0400-045f, u+0490-0491, u+04b0-04b1, u+2116
}

@font-face {
  font-family: __Rubik_b1bcfb;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/d70c23d6fe66d464-s.woff2) format("woff2");
  unicode-range: u+0307-0308, u+0590-05ff, u+200c-2010, u+20aa, u+25cc, u+fb1d-fb4f
}

@font-face {
  font-family: __Rubik_b1bcfb;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/0596140cb8d9223a-s.woff2) format("woff2");
  unicode-range: u+0100-02ba, u+02bd-02c5, u+02c7-02cc, u+02ce-02d7, u+02dd-02ff, u+0304, u+0308, u+0329, u+1d00-1dbf, u+1e00-1e9f, u+1ef2-1eff, u+2020, u+20a0-20ab, u+20ad-20c0, u+2113, u+2c60-2c7f, u+a720-a7ff
}

@font-face {
  font-family: __Rubik_b1bcfb;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/c22ccc5eb58b83e1-s.p.woff2) format("woff2");
  unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+0304, u+0308, u+0329, u+2000-206f, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd
}

@font-face {
  font-family: __Rubik_b1bcfb;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/356abdd51b933898-s.woff2) format("woff2");
  unicode-range: u+06??, u+0750-077f, u+0870-088e, u+0890-0891, u+0897-08e1, u+08e3-08ff, u+200c-200e, u+2010-2011, u+204f, u+2e41, u+fb50-fdff, u+fe70-fe74, u+fe76-fefc, u+102e0-102fb, u+10e60-10e7e, u+10ec2-10ec4, u+10efc-10eff, u+1ee00-1ee03, u+1ee05-1ee1f, u+1ee21-1ee22, u+1ee24, u+1ee27, u+1ee29-1ee32, u+1ee34-1ee37, u+1ee39, u+1ee3b, u+1ee42, u+1ee47, u+1ee49, u+1ee4b, u+1ee4d-1ee4f, u+1ee51-1ee52, u+1ee54, u+1ee57, u+1ee59, u+1ee5b, u+1ee5d, u+1ee5f, u+1ee61-1ee62, u+1ee64, u+1ee67-1ee6a, u+1ee6c-1ee72, u+1ee74-1ee77, u+1ee79-1ee7c, u+1ee7e, u+1ee80-1ee89, u+1ee8b-1ee9b, u+1eea1-1eea3, u+1eea5-1eea9, u+1eeab-1eebb, u+1eef0-1eef1
}

@font-face {
  font-family: __Rubik_b1bcfb;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/1a4dd1d7cd3232ea-s.woff2) format("woff2");
  unicode-range: u+0460-052f, u+1c80-1c8a, u+20b4, u+2de0-2dff, u+a640-a69f, u+fe2e-fe2f
}

@font-face {
  font-family: __Rubik_b1bcfb;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/341baa6ce7a16e81-s.woff2) format("woff2");
  unicode-range: u+0301, u+0400-045f, u+0490-0491, u+04b0-04b1, u+2116
}

@font-face {
  font-family: __Rubik_b1bcfb;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/d70c23d6fe66d464-s.woff2) format("woff2");
  unicode-range: u+0307-0308, u+0590-05ff, u+200c-2010, u+20aa, u+25cc, u+fb1d-fb4f
}

@font-face {
  font-family: __Rubik_b1bcfb;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/0596140cb8d9223a-s.woff2) format("woff2");
  unicode-range: u+0100-02ba, u+02bd-02c5, u+02c7-02cc, u+02ce-02d7, u+02dd-02ff, u+0304, u+0308, u+0329, u+1d00-1dbf, u+1e00-1e9f, u+1ef2-1eff, u+2020, u+20a0-20ab, u+20ad-20c0, u+2113, u+2c60-2c7f, u+a720-a7ff
}

@font-face {
  font-family: __Rubik_b1bcfb;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/c22ccc5eb58b83e1-s.p.woff2) format("woff2");
  unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+0304, u+0308, u+0329, u+2000-206f, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd
}

@font-face {
  font-family: __Rubik_b1bcfb;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/356abdd51b933898-s.woff2) format("woff2");
  unicode-range: u+06??, u+0750-077f, u+0870-088e, u+0890-0891, u+0897-08e1, u+08e3-08ff, u+200c-200e, u+2010-2011, u+204f, u+2e41, u+fb50-fdff, u+fe70-fe74, u+fe76-fefc, u+102e0-102fb, u+10e60-10e7e, u+10ec2-10ec4, u+10efc-10eff, u+1ee00-1ee03, u+1ee05-1ee1f, u+1ee21-1ee22, u+1ee24, u+1ee27, u+1ee29-1ee32, u+1ee34-1ee37, u+1ee39, u+1ee3b, u+1ee42, u+1ee47, u+1ee49, u+1ee4b, u+1ee4d-1ee4f, u+1ee51-1ee52, u+1ee54, u+1ee57, u+1ee59, u+1ee5b, u+1ee5d, u+1ee5f, u+1ee61-1ee62, u+1ee64, u+1ee67-1ee6a, u+1ee6c-1ee72, u+1ee74-1ee77, u+1ee79-1ee7c, u+1ee7e, u+1ee80-1ee89, u+1ee8b-1ee9b, u+1eea1-1eea3, u+1eea5-1eea9, u+1eeab-1eebb, u+1eef0-1eef1
}

@font-face {
  font-family: __Rubik_b1bcfb;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/1a4dd1d7cd3232ea-s.woff2) format("woff2");
  unicode-range: u+0460-052f, u+1c80-1c8a, u+20b4, u+2de0-2dff, u+a640-a69f, u+fe2e-fe2f
}

@font-face {
  font-family: __Rubik_b1bcfb;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/341baa6ce7a16e81-s.woff2) format("woff2");
  unicode-range: u+0301, u+0400-045f, u+0490-0491, u+04b0-04b1, u+2116
}

@font-face {
  font-family: __Rubik_b1bcfb;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/d70c23d6fe66d464-s.woff2) format("woff2");
  unicode-range: u+0307-0308, u+0590-05ff, u+200c-2010, u+20aa, u+25cc, u+fb1d-fb4f
}

@font-face {
  font-family: __Rubik_b1bcfb;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/0596140cb8d9223a-s.woff2) format("woff2");
  unicode-range: u+0100-02ba, u+02bd-02c5, u+02c7-02cc, u+02ce-02d7, u+02dd-02ff, u+0304, u+0308, u+0329, u+1d00-1dbf, u+1e00-1e9f, u+1ef2-1eff, u+2020, u+20a0-20ab, u+20ad-20c0, u+2113, u+2c60-2c7f, u+a720-a7ff
}

@font-face {
  font-family: __Rubik_b1bcfb;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/c22ccc5eb58b83e1-s.p.woff2) format("woff2");
  unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+0304, u+0308, u+0329, u+2000-206f, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd
}

@font-face {
  font-family: __Rubik_Fallback_b1bcfb;
  src: local("Arial");
  ascent-override: 89.06%;
  descent-override: 23.81%;
  line-gap-override: 0.00%;
  size-adjust: 104.98%
}

.__className_b1bcfb {
  font-family: __Rubik_b1bcfb, __Rubik_Fallback_b1bcfb;
  font-style: normal
}

.__variable_b1bcfb {
  --font-rubik: "__Rubik_b1bcfb", "__Rubik_Fallback_b1bcfb"
}

@font-face {
  font-family: __boldenVan_80e019;
  src: url(../fonts/8177c8916f680b53-s.p.ttf) format("truetype");
  font-display: swap;
  font-weight: 400
}

@font-face {
  font-family: __boldenVan_Fallback_80e019;
  src: local("Arial");
  ascent-override: 95.28%;
  descent-override: 23.13%;
  line-gap-override: 0.00%;
  size-adjust: 108.10%
}

.__className_80e019 {
  font-family: __boldenVan_80e019, __boldenVan_Fallback_80e019;
  font-weight: 400
}

.__variable_80e019 {
  --font-boldenVan: "__boldenVan_80e019", "__boldenVan_Fallback_80e019"
}

/*
! tailwindcss v3.4.3 | MIT License | https://tailwindcss.com
*/
*,
:after,
:before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb
}

:after,
:before {
  --tw-content: ""
}

:host,
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent
}

body {
  margin: 0;
  line-height: inherit
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px
}

abbr:where([title]) {
  text-decoration: underline dotted
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}

a {
  color: inherit;
  text-decoration: inherit
}

b,
strong {
  font-weight: bolder
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em
}

small {
  font-size: 80%
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0
}

button,
select {
  text-transform: none
}

button,
input:where([type=button]),
input:where([type=reset]),
input:where([type=submit]) {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none
}

:-moz-focusring {
  outline: auto
}

:-moz-ui-invalid {
  box-shadow: none
}

progress {
  vertical-align: baseline
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

summary {
  display: list-item
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0
}

fieldset {
  margin: 0
}

fieldset,
legend {
  padding: 0
}

menu,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0
}

dialog {
  padding: 0
}

textarea {
  resize: vertical
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af
}

[role=button],
button {
  cursor: pointer
}

:disabled {
  cursor: default
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  vertical-align: middle
}

img,
video {
  max-width: 100%;
  height: auto
}

[hidden] {
  display: none
}

body {
  font-family: var(--font-rubik);
  color: rgb(var(--foreground-rgb));
  background: #0b0c10
}

* {
  box-sizing: border-box
}

*,
:after,
:before {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, .5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style:
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, .5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style:
}

.pointer-events-none {
  pointer-events: none
}

.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.-left-\[2\.76\%\] {
  left: -2.76%
}

.-right-0 {
  right: 0
}

.-right-0\.5 {
  right: -.125rem
}

.-right-\[40\%\] {
  right: -40%
}

.-right-\[6\%\] {
  right: -6%
}

.-top-\[54\%\] {
  top: -54%
}

.-top-\[8\%\] {
  top: -8%
}

.bottom-0 {
  bottom: 0
}

.left-0 {
  left: 0
}

.left-1\/2 {
  left: 50%
}

.left-4 {
  left: 1rem
}

.left-\[-20\%\] {
  left: -20%
}

.left-\[12\.86\%\] {
  left: 12.86%
}

.left-\[13\.02\%\] {
  left: 13.02%
}

.left-\[4\%\] {
  left: 4%
}

.left-\[60\%\] {
  left: 60%
}

.right-0 {
  right: 0
}

.right-4 {
  right: 1rem
}

.right-\[4\%\] {
  right: 4%
}

.right-\[7\%\] {
  right: 7%
}

.top-0 {
  top: 0
}

.top-1\/2 {
  top: 50%
}

.top-2 {
  top: .5rem
}

.top-\[1\.72\%\] {
  top: 1.72%
}

.top-\[14\%\] {
  top: 14%
}

.top-\[15\.49\%\] {
  top: 15.49%
}

.top-\[2\.04\%\] {
  top: 2.04%
}

.top-\[20\%\] {
  top: 20%
}

.top-\[23\.63\%\] {
  top: 23.63%
}

.top-\[30\.28\%\] {
  top: 30.28%
}

.top-\[4\%\] {
  top: 4%
}

.top-\[4\.56\%\] {
  top: 4.56%
}

.top-\[40\%\] {
  top: 40%
}

.top-\[8\%\] {
  top: 8%
}

.z-10 {
  z-index: 10
}

.z-20 {
  z-index: 20
}

.z-30 {
  z-index: 30
}

.z-50 {
  z-index: 50
}

.mx-\[5\%\] {
  margin-left: 5%;
  margin-right: 5%
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.-ml-0 {
  margin-left: 0
}

.-ml-0\.5 {
  margin-left: -.125rem
}

.-mt-\[13\%\] {
  margin-top: -13%
}

.-mt-\[15\.3\%\] {
  margin-top: -15.3%
}

.-mt-\[30\%\] {
  margin-top: -30%
}

.mb-6 {
  margin-bottom: 1.5rem
}

.ml-\[3\.46\%\] {
  margin-left: 3.46%
}

.ml-\[5\%\] {
  margin-left: 5%
}

.ml-\[8\%\] {
  margin-left: 8%
}

.ml-auto {
  margin-left: auto
}

.mr-\[20\%\] {
  margin-right: 20%
}

.mr-\[20px\] {
  margin-right: 20px
}

.mt-1 {
  margin-top: .25rem
}

.mt-3 {
  margin-top: .75rem
}

.mt-32 {
  margin-top: 8rem
}

.mt-\[11\%\] {
  margin-top: 11%
}

.mt-\[13\%\] {
  margin-top: 13%
}

.mt-\[2rem\] {
  margin-top: 2rem
}

.mt-\[300px\] {
  margin-top: 300px
}

.mt-\[350px\] {
  margin-top: 350px
}

.mt-\[7\%\] {
  margin-top: 7%
}

.mt-\[9\%\] {
  margin-top: 9%
}

.block {
  display: block
}

.flex {
  display: flex
}

.grid {
  display: grid
}

.hidden {
  display: none
}

.aspect-\[0\.431\] {
  aspect-ratio: .431
}

.aspect-\[0\.634\] {
  aspect-ratio: .634
}

.aspect-\[1\.71\] {
  aspect-ratio: 1.71
}

.aspect-\[2\] {
  aspect-ratio: 2
}

.h-0 {
  height: 0
}

.h-\[1px\] {
  height: 1px
}

.h-\[30px\] {
  height: 30px
}

.h-\[5\.6rem\] {
  height: 5.6rem
}

.h-fit {
  height: fit-content
}

.h-full {
  height: 100%
}

.h-max {
  height: max-content
}

.h-screen {
  height: 100vh
}

.max-h-\[224px\] {
  max-height: 224px
}

.max-h-\[324px\] {
  max-height: 324px
}

.max-h-\[650px\] {
  max-height: 650px
}

.min-h-\[42rem\] {
  min-height: 42rem
}

.min-h-\[45\.875rem\] {
  min-height: 45.875rem
}

.w-0 {
  width: 0
}

.w-3\/4 {
  width: 75%
}

.w-\[2\.7rem\] {
  width: 2.7rem
}

.w-\[21\.61\%\] {
  width: 21.61%
}

.w-\[24\.92\%\] {
  width: 24.92%
}

.w-\[26\.23\%\] {
  width: 26.23%
}

.w-\[30\%\] {
  width: 30%
}

.w-\[32\.53\%\] {
  width: 32.53%
}

.w-\[34\.66\%\] {
  width: 34.66%
}

.w-\[36\.77\%\] {
  width: 36.77%
}

.w-\[3rem\] {
  width: 3rem
}

.w-\[43\.43\%\] {
  width: 43.43%
}

.w-\[45\.10\%\] {
  width: 45.1%
}

.w-\[46\.66\%\] {
  width: 46.66%
}

.w-\[55\.54\%\] {
  width: 55.54%
}

.w-\[57\%\] {
  width: 57%
}

.w-\[70\%\] {
  width: 70%
}

.w-\[76\.77\%\] {
  width: 76.77%
}

.w-\[80\%\] {
  width: 80%
}

.w-\[88\.26\%\] {
  width: 88.26%
}

.w-\[90\%\] {
  width: 90%
}

.w-fit {
  width: fit-content
}

.w-full {
  width: 100%
}

.w-max {
  width: max-content
}

.min-w-fit {
  min-width: fit-content
}

.max-w-\[176px\] {
  max-width: 176px
}

.max-w-\[249px\] {
  max-width: 249px
}

.max-w-\[342px\] {
  max-width: 342px
}

.max-w-\[345px\] {
  max-width: 345px
}

.max-w-\[355px\] {
  max-width: 355px
}

.max-w-\[381px\] {
  max-width: 381px
}

.max-w-\[706px\] {
  max-width: 706px
}

.max-w-sm {
  max-width: 24rem
}

.flex-1 {
  flex: 1 1 0%
}

.grow {
  flex-grow: 1
}

.-translate-x-1\/2 {
  --tw-translate-x: -50%
}

.-translate-x-1\/2,
.-translate-y-1\/2 {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.-translate-y-1\/2 {
  --tw-translate-y: -50%
}

.translate-x-1\/2 {
  --tw-translate-x: 50%
}

.translate-x-1\/2,
.translate-x-2 {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-x-2 {
  --tw-translate-x: 0.5rem
}

.translate-y-1\/2 {
  --tw-translate-y: 50%
}

.rotate-12,
.translate-y-1\/2 {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.rotate-12 {
  --tw-rotate: 12deg
}

.rotate-180 {
  --tw-rotate: 180deg
}

.rotate-180,
.rotate-90 {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.rotate-90 {
  --tw-rotate: 90deg
}

@keyframes bounce-x {

  0%,
  to {
    transform: translateY(-10%)
  }

  50% {
    transform: translateY(10%)
  }
}

.animate-bounce-x {
  animation: bounce-x 3s ease-in-out infinite
}

@keyframes zoom {

  0%,
  to {
    transform: scale(1)
  }

  50% {
    transform: scale(1.1)
  }
}

.animate-zoom {
  animation: zoom 2s ease-in-out infinite
}

.flex-row {
  flex-direction: row
}

.flex-row-reverse {
  flex-direction: row-reverse
}

.flex-col {
  flex-direction: column
}

.items-center {
  align-items: center
}

.justify-end {
  justify-content: flex-end
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.gap-0 {
  gap: 0
}

.gap-10 {
  gap: 2.5rem
}

.gap-2 {
  gap: .5rem
}

.gap-3 {
  gap: .75rem
}

.gap-4 {
  gap: 1rem
}

.gap-5 {
  gap: 1.25rem
}

.gap-6 {
  gap: 1.5rem
}

.gap-\[2vw\] {
  gap: 2vw
}

.gap-\[4vw\] {
  gap: 4vw
}

.space-x-4>:not([hidden])~:not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)))
}

.overflow-hidden {
  overflow: hidden
}

.overflow-y-scroll {
  overflow-y: scroll
}

.break-all {
  word-break: break-all
}

.rounded-full {
  border-radius: 9999px
}

.rounded-lg {
  border-radius: .5rem
}

.border-2 {
  border-width: 2px
}

.border-b {
  border-bottom-width: 1px
}

.border-b-\[16px\] {
  border-bottom-width: 16px
}

.border-l {
  border-left-width: 1px
}

.border-l-2 {
  border-left-width: 2px
}

.border-l-\[22px\] {
  border-left-width: 22px
}

.border-r-\[22px\] {
  border-right-width: 22px
}

.border-t {
  border-top-width: 1px
}

.border-t-\[16px\] {
  border-top-width: 16px
}

.border-dashed {
  border-style: dashed
}

.border-accent {
  --tw-border-opacity: 1;
  border-color: rgb(97 63 180/var(--tw-border-opacity))
}

.border-black {
  --tw-border-opacity: 1;
  border-color: rgb(11 12 16/var(--tw-border-opacity))
}

.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255/var(--tw-border-opacity))
}

.border-white\/15 {
  border-color: hsla(0, 0%, 100%, .15)
}

.border-b-transparent {
  border-bottom-color: transparent
}

.border-l-white {
  --tw-border-opacity: 1;
  border-left-color: rgb(255 255 255/var(--tw-border-opacity))
}

.border-r-white {
  --tw-border-opacity: 1;
  border-right-color: rgb(255 255 255/var(--tw-border-opacity))
}

.border-t-transparent {
  border-top-color: transparent
}

.bg-accent {
  --tw-bg-opacity: 1;
  background-color: rgb(97 63 180/var(--tw-bg-opacity))
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(11 12 16/var(--tw-bg-opacity))
}

.bg-light-black {
  --tw-bg-opacity: 1;
  background-color: rgb(37 39 46/var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255/var(--tw-bg-opacity))
}

.object-cover {
  object-fit: cover
}

.object-center {
  object-position: center
}

.p-2 {
  padding: .5rem
}

.p-3 {
  padding: .75rem
}

.p-6 {
  padding: 1.5rem
}

.px-0 {
  padding-left: 0;
  padding-right: 0
}

.px-1 {
  padding-left: .25rem;
  padding-right: .25rem
}

.px-3 {
  padding-left: .75rem;
  padding-right: .75rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem
}

.px-\[2\.2vw\] {
  padding-left: 2.2vw;
  padding-right: 2.2vw
}

.py-2 {
  padding-top: .5rem;
  padding-bottom: .5rem
}

.py-2\.5 {
  padding-top: .625rem;
  padding-bottom: .625rem
}

.py-3 {
  padding-top: .75rem;
  padding-bottom: .75rem
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}

.py-\[1\.4vw\] {
  padding-top: 1.4vw;
  padding-bottom: 1.4vw
}

.pb-3 {
  padding-bottom: .75rem
}

.pl-10 {
  padding-left: 2.5rem
}

.pt-4 {
  padding-top: 1rem
}

.pt-\[1\%\] {
  padding-top: 1%
}

.pt-\[15\%\] {
  padding-top: 15%
}

.pt-\[4\%\] {
  padding-top: 4%
}

.pt-\[5\%\] {
  padding-top: 5%
}

.text-left {
  text-align: left
}

.text-center {
  text-align: center
}

.text-right {
  text-align: right
}

.text-start {
  text-align: start
}

.font-boldenVan {
  font-family: var(--font-boldenVan)
}

.font-rubik {
  font-family: var(--font-rubik)
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.text-lg {
  font-size: 1.125rem
}

.text-lg,
.text-xl {
  line-height: 1.75rem
}

.text-xl {
  font-size: 1.25rem
}

.font-medium {
  font-weight: 500
}

.font-semibold {
  font-weight: 600
}

.uppercase {
  text-transform: uppercase
}

.\!leading-\[1\.4\] {
  line-height: 1.4 !important
}

.leading-\[1\.15\] {
  line-height: 1.15
}

.leading-\[1\.6rem\] {
  line-height: 1.6rem
}

.leading-\[5rem\] {
  line-height: 5rem
}

.text-accent {
  --tw-text-opacity: 1;
  color: rgb(97 63 180/var(--tw-text-opacity))
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(11 12 16/var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255/var(--tw-text-opacity))
}

.opacity-0 {
  opacity: 0
}

.blur {
  --tw-blur: blur(8px)
}

.blur,
.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s
}

.transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s
}

.duration-200 {
  transition-duration: .2s
}

.duration-300 {
  transition-duration: .3s
}

.ease-out {
  transition-timing-function: cubic-bezier(0, 0, .2, 1)
}

.\~text-\[1\.45rem\]\/6xl {
  font-size: clamp(1.45rem, -.19rem + 4.11vw, 3.75rem)
}

.\~text-\[1\.5rem\]\/\[2\.5rem\] {
  font-size: clamp(1.5rem, .79rem + 1.79vw, 2.5rem)
}

.\~text-\[1rem\]\/xl {
  font-size: clamp(1rem, .82rem + .45vw, 1.25rem)
}

.\~text-\[2rem\]\/\[10rem\] {
  font-size: clamp(2rem, -3.71rem + 14.29vw, 10rem)
}

.\~text-\[2rem\]\/\[3rem\] {
  font-size: clamp(2rem, 1.29rem + 1.79vw, 3rem)
}

.\~text-\[2rem\]\/\[6rem\] {
  font-size: clamp(2rem, -.86rem + 7.14vw, 6rem)
}

.\~text-\[3rem\]\/\[10rem\] {
  font-size: clamp(3rem, -2rem + 12.5vw, 10rem)
}

.\~text-\[3rem\]\/\[15rem\] {
  font-size: clamp(3rem, -5.57rem + 21.43vw, 15rem)
}

.\~text-\[3rem\]\/\[5rem\] {
  font-size: clamp(3rem, 1.57rem + 3.57vw, 5rem)
}

.\~text-\[3rem\]\/\[6\.1rem\] {
  font-size: clamp(3rem, .79rem + 5.54vw, 6.1rem)
}

.\~text-\[4rem\]\/\[6rem\] {
  font-size: clamp(4rem, 2.57rem + 3.57vw, 6rem)
}

.\~text-base\/xl {
  font-size: clamp(1rem, .82rem + .45vw, 1.25rem);
  line-height: clamp(1.5rem, 1.32rem + .45vw, 1.75rem)
}

.\~text-lg\/2xl {
  font-size: clamp(1.125rem, .857rem + .67vw, 1.5rem);
  line-height: clamp(1.75rem, 1.57rem + .45vw, 2rem)
}

.\~text-sm\/4xl {
  font-size: clamp(.875rem, -.107rem + 2.455vw, 2.25rem);
  line-height: clamp(1.25rem, .36rem + 2.23vw, 2.5rem)
}

.\~text-sm\/base {
  font-size: clamp(.875rem, .786rem + .223vw, 1rem);
  line-height: clamp(1.25rem, 1.07rem + .45vw, 1.5rem)
}

.\~text-sm\/lg {
  font-size: clamp(.875rem, .696rem + .446vw, 1.125rem);
  line-height: clamp(1.25rem, .89rem + .89vw, 1.75rem)
}

.\~h-4\/5 {
  height: clamp(1rem, .82rem + .45vw, 1.25rem)
}

.\~h-6\/7 {
  height: clamp(1.5rem, 1.32rem + .45vw, 1.75rem)
}

.\~h-8\/10 {
  height: clamp(2rem, 1.64rem + .89vw, 2.5rem)
}

.\~w-4\/5 {
  width: clamp(1rem, .82rem + .45vw, 1.25rem)
}

.\~w-6\/7 {
  width: clamp(1.5rem, 1.32rem + .45vw, 1.75rem)
}

.\!\~max-w-\[8rem\]\/\[9rem\] {
  max-width: clamp(8rem, 7.29rem + 1.79vw, 9rem) !important
}

.\~max-w-\[62rem\]\/\[92rem\] {
  max-width: clamp(62rem, 40.57rem + 53.57vw, 92rem)
}

.\~gap-10\/20 {
  gap: clamp(2.5rem, .71rem + 4.46vw, 5rem)
}

.\~px-2\/5 {
  padding-left: clamp(.5rem, -.04rem + 1.34vw, 1.25rem);
  padding-right: clamp(.5rem, -.04rem + 1.34vw, 1.25rem)
}

.\~px-4\/5 {
  padding-left: clamp(1rem, .82rem + .45vw, 1.25rem);
  padding-right: clamp(1rem, .82rem + .45vw, 1.25rem)
}

.\~px-\[0\.35rem\]\/\[1\.125rem\] {
  padding-left: clamp(.35rem, -.204rem + 1.384vw, 1.125rem);
  padding-right: clamp(.35rem, -.204rem + 1.384vw, 1.125rem)
}

.\~py-1\.5\/2 {
  padding-top: clamp(.375rem, .286rem + .223vw, .5rem);
  padding-bottom: clamp(.375rem, .286rem + .223vw, .5rem)
}

.\~py-\[5rem\]\/32 {
  padding-top: clamp(5rem, 2.86rem + 5.36vw, 8rem);
  padding-bottom: clamp(5rem, 2.86rem + 5.36vw, 8rem)
}

.\~pt-\[0\.25rem\]\/\[0\.625rem\] {
  padding-top: clamp(.25rem, -.018rem + .67vw, .625rem)
}

.\~pb-\[0\.3rem\]\/\[0\.75rem\] {
  padding-bottom: clamp(.3rem, -.02rem + .8vw, .75rem)
}

.\~leading-\[3\.3rem\]\/\[12rem\] {
  line-height: clamp(3.3rem, -2.91rem + 15.54vw, 12rem)
}

.\~leading-\[3\.4rem\]\/\[6\.5rem\] {
  line-height: clamp(3.4rem, 1.19rem + 5.54vw, 6.5rem)
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0
}

.first\:border-t:first-child {
  border-top-width: 1px
}

.hover\:border-accent:hover {
  --tw-border-opacity: 1;
  border-color: rgb(97 63 180/var(--tw-border-opacity))
}

.hover\:bg-accent:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(97 63 180/var(--tw-bg-opacity))
}

.group:hover .group-hover\:text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255/var(--tw-text-opacity))
}

.group:hover .group-hover\:opacity-0 {
  opacity: 0
}

.group:hover .group-hover\:opacity-100 {
  opacity: 1
}

@media (min-width:40rem) {
  .sm\:top-\[20\%\] {
    top: 20%
  }

  .sm\:mt-0 {
    margin-top: 0
  }

  .sm\:block {
    display: block
  }

  .sm\:hidden {
    display: none
  }

  .sm\:aspect-\[1\.34\] {
    aspect-ratio: 1.34
  }

  .sm\:w-\[46\.19\%\] {
    width: 46.19%
  }

  .sm\:px-4 {
    padding-left: 1rem;
    padding-right: 1rem
  }

  .sm\:py-3 {
    padding-top: .75rem;
    padding-bottom: .75rem
  }

  .sm\:\~w-36\/56 {
    width: clamp(9rem, 5.43rem + 8.93vw, 14rem)
  }

  .sm\:\~py-1\.5\/2\.5 {
    padding-top: clamp(.375rem, .196rem + .446vw, .625rem);
    padding-bottom: clamp(.375rem, .196rem + .446vw, .625rem)
  }
}

@media (min-width:48rem) {
  .md\:mx-0 {
    margin-left: 0;
    margin-right: 0
  }

  .md\:mx-auto {
    margin-left: auto;
    margin-right: auto
  }

  .md\:mt-\[400px\] {
    margin-top: 400px
  }

  .md\:block {
    display: block
  }

  .md\:flex {
    display: flex
  }

  .md\:hidden {
    display: none
  }

  .md\:aspect-\[2\.967\] {
    aspect-ratio: 2.967
  }

  .md\:w-1\/2 {
    width: 50%
  }

  .md\:w-\[35\%\] {
    width: 35%
  }

  .md\:max-w-56 {
    max-width: 14rem
  }

  .md\:max-w-\[381px\] {
    max-width: 381px
  }

  .md\:gap-0 {
    gap: 0
  }

  .md\:gap-0\.5 {
    gap: .125rem
  }

  .md\:gap-5 {
    gap: 1.25rem
  }

  .md\:gap-\[2vw\] {
    gap: 2vw
  }

  .md\:text-left {
    text-align: left
  }

  .md\:text-center {
    text-align: center
  }

  .md\:text-right {
    text-align: right
  }

  .md\:\~text-\[2\.5rem\]\/\[5rem\] {
    font-size: clamp(2.5rem, .71rem + 4.46vw, 5rem)
  }

  .md\:\~text-xs\/lg {
    font-size: clamp(.75rem, .482rem + .67vw, 1.125rem);
    line-height: clamp(1rem, .46rem + 1.34vw, 1.75rem)
  }

  .md\:\~h-6\/7 {
    height: clamp(1.5rem, 1.32rem + .45vw, 1.75rem)
  }

  .md\:\~w-36\/56 {
    width: clamp(9rem, 5.43rem + 8.93vw, 14rem)
  }

  .md\:\~py-1\.5\/2\.5 {
    padding-top: clamp(.375rem, .196rem + .446vw, .625rem);
    padding-bottom: clamp(.375rem, .196rem + .446vw, .625rem)
  }
}

@media (min-width:64rem) {
  .lg\:left-\[69\.06\%\] {
    left: 69.06%
  }

  .lg\:top-\[57\.71\%\] {
    top: 57.71%
  }

  .lg\:mt-\[3\%\] {
    margin-top: 3%
  }

  .lg\:mt-\[7rem\] {
    margin-top: 7rem
  }

  .lg\:block {
    display: block
  }

  .lg\:flex {
    display: flex
  }

  .lg\:hidden {
    display: none
  }

  .lg\:w-\[4\.5rem\] {
    width: 4.5rem
  }

  .lg\:w-\[46\%\] {
    width: 46%
  }

  .lg\:translate-y-1 {
    --tw-translate-y: 0.25rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
  }

  .lg\:flex-row {
    flex-direction: row
  }

  .lg\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem
  }

  .lg\:py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem
  }

  .lg\:pt-\[4\%\] {
    padding-top: 4%
  }

  .lg\:\~text-\[0\.5rem\]\/\[1\.125rem\] {
    font-size: clamp(.5rem, .054rem + 1.116vw, 1.125rem)
  }

  .lg\:\~text-\[0\.5rem\]\/\[2\.2rem\] {
    font-size: clamp(.5rem, -.71rem + 3.04vw, 2.2rem)
  }

  .lg\:\~leading-\[0\.5rem\]\/\[1\.125rem\] {
    line-height: clamp(.5rem, .054rem + 1.116vw, 1.125rem)
  }

  .lg\:\~leading-\[0\.5rem\]\/\[2\.2rem\] {
    line-height: clamp(.5rem, -.71rem + 3.04vw, 2.2rem)
  }
}

@media (min-width:96rem) {
  .\32xl\:gap-5 {
    gap: 1.25rem
  }
}
